/* la hoja se trabaja de 0 */
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans&display=swap');
font-family: 'Rethink Sans', sans-serif;


body{ font-family: 'Rethink Sans', sans-serif;
    
    color: black;

}
header{
    font-family: 'Rethink Sans', sans-serif;
    background-color:#31304D ;
    color: white;
}
header a{
    font-family: 'Rethink Sans', sans-serif;
    color: white;
    text-decoration: none;
}
h1{font-family: 'Rethink Sans', sans-serif;

}
main{
    font-family: 'Rethink Sans', sans-serif;
    background-color:#31304D  ;
    color: white;
}
/* div{ background-image: url(../Multimedia/menu.jpeg) ;
background-repeat: no-repeat;
}
   */
   .imagen{
background-image: url(../Multimedia/menu.jpeg);
    background-size: contain;
    }

ul {
    font-family: 'Rethink Sans', sans-serif;
    list-style: none;
    color: white;
}
a { 
    color: black;
    list-style: none;
    text-decoration: none;
}
div {
    color: black;
    font-family: 'Rethink Sans', sans-serif;
}
footer {
    font-family: 'Rethink Sans', sans-serif;
    color: black;
}
section { 
    font-family: 'Rethink Sans', sans-serif;
    color: black;
}
ol {
    background-color: #31304D;
    font-family: 'Rethink Sans', sans-serif;
    color: white;
}
label{
    color: white;
    font-family: 'Rethink Sans', sans-serif;
}
h2{
    color: white;
    font-family: 'Rethink Sans', sans-serif;
}
h1{
    color: white;
    text-align: center;
}
img {
    width: 500px;
}
a img {
    width: 80px;
}
p {font-family: 'Rethink Sans', sans-serif;

}